@using ELearningPortalMSAzureV1.Resources
@model ELearningPortalMSAzureV1.Areas.Learner.ViewModels.LearnerCoursesPageViewModel

@{
    ViewData["Title"] = "Cancel Enrollment";
    Layout = "_LearnerCourseLayout.cshtml";
}
@if (Model.EnrolledCourseList.Any())
{
    <div class="row">
        @foreach (var data in Model.EnrolledCourseList)
        {
            @*<a asp-controller="Learner" asp-action="CoursePage" asp-route-CourseId=@data.CourseId>*@
            <div class="row">
                <div class="col-md-3">
                    <a asp-controller="Learner" asp-action="LearningPage" asp-route-CourseId=@data.CourseId> <img src="@Constants.DefaultImageNames.CoursePhotoSrcPath@data.CourseImageFile.FileName" width="250px" height="200px" /></a>
                </div>
                <div class="col-md-5 CourseBlocksRowWise">
                    <a asp-controller="Learner" asp-action="LearningPage" asp-route-CourseId=@data.CourseId>
                        <h4>@data.CourseName</h4>
                    </a>
                    @if (data.AverageCourseRating > 0)
                    {
                        <a asp-controller="Learner" asp-action="CourseRatings" asp-route-CourseId=@data.CourseId>
                            @Html.Partial("_StarRatingBlock", Convert.ToInt32(data.AverageCourseRating))
                        </a>
                    }
                    <h5>@data.CourseDuration</h5>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-lg clsLearnerCancelEnrollment" data-CourseName="@data.CourseName" data-id="@data.CourseId" style="background-color:cornflowerblue">Cancel Enrollment</button>
                </div>
            </div>
            @*</a>*@
        }
    </div>
}
else
{
    Context.Response.Redirect("FindCourses");
}